.background {
	-fx-background-color: white;
}

.button {
	-fx-background-color: transparent;
	-fx-border-style: solid;
	-fx-border-width: 2;
	-fx-border-radius: 2;
}

.button:hover {
	-fx-border-color: #0000CD;
	-fx-text-fill: #0000CD;
}

.button:pressed {
	-fx-font-size: 15;
	-fx-pref-width: 100;
}